<div class='alert alert-danger error' style='display: <%= show.error ? 'block' : 'none' %>'>
    <%- msg.error %>
</div>
<div class='alert alert-success success' style='display: <%= show.success ? 'block' : 'none' %>'>
    <%- msg.success %>
</div>
<div class='alert alert-secondary notif raydium-theme-card' style='display: <%= show.notif ? 'block' : 'none' %>'>
    <%- msg.notif %>
</div>
